/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.heroText {
  width: 41%;
  flex-shrink: 0;
}

.heroImage {
  width: 50%;
  margin: 40px auto;
}

.pinkEmphasis {
  font-style: normal;
  color: var(--fs-pink)
}

@media screen and (max-width: 997px) {
  .heroContainer {
    display: block;
    padding-top: 40px;
  }
  .heroImage {
    display: none;
  }
  .heroText {
    width: 100%;
  }
  .heroImage {
    width: 100%;
  }
}

.heroHome {
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(/bigtest/images/decor-color-blur-100-p-1080.jpeg);
  background-position: 100% 50%;
  background-size: 53%;
  background-repeat: no-repeat;
}

.heroHeading {
  font-family: proxima-nova, sans-serif;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 34px;
  color: var(--ifm-heading-color);
  font-size: 45px;
  line-height: 50px;
  font-weight: 800;
  letter-spacing: -1px;
}

.heroSubheader {
  font-family: proxima-nova, sans-serif;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 40px;
  color: var(--ifm-sub-heading-color);
  font-size: 27px;
  line-height: 32px;
}

.ctaButton {
  margin: 0;
  background-color: #26abe8;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 35px;
  border-radius: 50px;
  font-size: 21px;
  font-weight: 700;
  display: inline-block;
  padding-bottom: 10px;
  background-image: url(/bigtest/images/decor-button-twist2x.png),
    linear-gradient(90deg, #26abe8, #f74d7b);
  background-position: -15px -15px, 0px 0px;
  background-size: 317px, auto;
}
.ctaButton:hover {
  color: white;
  text-decoration: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1045px;
  padding: var(--ifm-spacing-horizontal);
  margin: 40px auto;
}

.featureImage {
  width: 30%;
  flex-shrink: 0;
}

.featureText {
  margin-left: 40px;
}

.featureHeading {
  font-size: 22px;
  line-height: 27px;
  font-weight: bolder;
}

@media screen and (max-width: 500px) {
  .feature {
    display: block;
  }
  .featureImage {
    width: 100%;
    max-width: 250px;
  }
  .featureText {
    width: 100%;
    margin-left: 0;
  }
}

.textColumn {
  max-width: 711px;
  padding-right: 33px;
  padding-left: 33px;
  margin: 60px auto;
}

.topDecoration {
  margin-bottom: 40px;
}

.iframeCrossRunner {
  width: 535px;
  height: 665px;
  outline: none;
  border: none;
  overflow: hidden;
  background: #091a35;
  border-radius: 10px;
  animation-name: iframeLoading;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes iframeLoading {
  0% {
		background: #091a35;
	}
	50% {
		background: #153a75;
  }
  100% {
		background: #040e1f;
	}

}

.heroCrossRunnerIframe {
  text-align: center;
  background: url(/bigtest/images/iframe-bg.svg) no-repeat center top;
  background-size: contain;
  padding-top: 60px;
}

.interactorsHero {
  height: 480px;
  position: relative;
  overflow-y: visible;
}

.interactorsHeroBackground {
  box-sizing: border-box;
  background:
    url(/bigtest/images/decor-interactor-bottom.png) no-repeat left bottom,
    url(/bigtest/images/decor-interactor-top.png) no-repeat right top;
  background-size: 300px, 100px;
  position: absolute;
  height: auto;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 40px;
}

.bigQuoteWrapper {
  max-width: 780px;
  margin: 0 auto -40px auto;
  padding: 80px 33px;
  background-image: url(/bigtest/images/decor-subtler-background.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bigQuote {
  padding: 10px 0;
  border-left-style: none;
  color: var(--ifm-color-primary);
  font-size: 40px;
  line-height: 45px;
  font-weight: 800;
  letter-spacing: -0.1px;
}

.bigQuoteAuthor {
  color: var(--ifm-color-primary);
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
}
