node_modules
docs
.esm-cache
.node-version
.parcel-cache
dist/
pkg/
.nyc_output/
coverage
package-lock.json
/scratchpad
yarn-error.log
.cache
*/**/yarn.lock
!website/yarn.lock
.DS_Store

# Local Netlify folder
.netlify