* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
}

body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #444;
}

.button {
  padding: 0.3rem 0.4rem;
  background: white;
  border: none;
  border-radius: 0.3rem;
  color: #888;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  display: flex;
  flex: auto;
  align-items: center;
}

.button:active {
  background: #f0f0f0;
}

.button img {
  height: 1rem;
  display: inline-block;
  margin-right: 0.4rem;
}

#app {
  height: 100%;
}

.inspector {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f0f0f0;
}

.inspector--menu {
  margin: 0.8rem 0.8rem 0;
  display: flex;
  align-items: center;
}

.inspector--menu--title {
  flex-grow: 1;
}

.inspector--main {
  border-radius: 0.3rem;
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  overflow: auto;
  flex-grow: 1;
  margin: 0.8rem;
  background: white;
}

.inspector--main--return {
  border: 1px solid #ccc;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  text-decoration: none;
  color: inherit;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  margin-bottom: 2rem;
  display: inline-block;
}

.settings-menu {
  position: relative;
}

.settings-menu--body {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 0.3rem;
  background: white;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  border-radius: 0.3rem;
  list-style: none;
  z-index: 1000;
}

.settings-menu--body li {
  white-space: nowrap;
  margin: 1rem;
}

.task {
  position: relative;
  overflow: hidden;
}

.task.halting .task--title--name, .task.halted .task--title--name {
  color: #ccc;
}

.task.errored .task--title--name, .task.erroring .task--title--name {
  color: rgb(189, 0, 0);
}

.task.completing .task--title--name, .task.completed .task--title--name {
  color: rgb(33, 186, 79);
}

.task--state.running {
  background: rgb(61, 210, 255);
}

.task--state.errored, .task--state.erroring {
  background: rgb(189, 0, 0);
}

.task--state.completing, .task--state.completed {
  background: rgb(33, 186, 79);
}

.task--title {
  font-size: 1rem;
  margin: 0 -0.2rem;
  padding: 0;
  display: flex;
  color: #444;
}

.task--title > * {
  margin: 0 0.2rem;
}

.task--yielding-to {
  margin: 0.4rem 0 0;
}

.task--title--expand {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 0.3rem;
  border: 1px solid #aaa;
  color: #444;
  background-color: transparent;
}

.task--title--expand.disabled {
  border-color: #eee;
}

.task--title--yield {
  font-weight: bold;
  color: rgb(168, 18, 255);
}

.task--title--name a {
  color: inherit;
  text-decoration: none;
}

.task--title--name a:hover {
  text-decoration: underline;
}

.task--title--icon {
  width: 1rem;
  margin-right: 0.4rem;
}

.task--title--icon img {
  width: 1.2rem;
  height: 1.2rem;
}

.task--title--type {
  font-weight: normal;
  color: #ccc;
}

.task--title--id {
  font-weight: normal;
  color: #aaa;
}

.task--section-header {
  font-weight: bold;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #aaa;
  margin: 0.4rem 0;
}

.task--list {
  list-style: none;
}

.task--list--element {
  margin: 0.4rem 0 0;
}

.task--label {
  display: inline-block;
  margin-right: 0.2rem;
  background: rgb(189, 201, 204);
  color: rgb(78, 83, 84);
  padding: 0.1rem 0.4rem 0.2rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

.task--label--title {
  color: rgb(134, 147, 149);
  padding: 0 0 0.1rem;
  display: inline-block;
  margin-right: 0.3rem;
}

.task--label--value {
  display: inline-block;
}

.task--error {
  border: 1px solid #caa;
  background: #fee;
  border-radius: 0.3rem;
  margin: 0.5rem 0;
  padding: 0.4rem 0.8rem;
  font-family: monospace;
  font-size: 0.8rem;
  overflow: auto;
  white-space: nowrap
}

.task--error--name {
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 0.4rem;
  font-weight: bold;
}

.task--error--message {
  display: inline-block;
  margin-bottom: 1rem;
}

.task--error--stack {
  white-space: pre;
}

.task--details {
  border-left: 1px solid #ccc;
  padding-left: 0.8rem;
  margin-left: 0.6rem;
}

.task--details.open {
  display: block;
}

.task--details.closed {
  display: none;
}
