* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
}

h1 {
  margin: 0 0 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #444;
}

.task {
  position: relative;
  overflow: hidden;
}

.task.halting .task--title--name, .task.halted .task--title--name {
  color: #ccc;
}

.task.errored .task--title--name, .task.erroring .task--title--name {
  color: rgb(189, 0, 0);
}

.task.completing .task--title--name, .task.completed .task--title--name {
  color: rgb(33, 186, 79);
}

.task--state.running {
  background: rgb(61, 210, 255);
}

.task--state.errored, .task--state.erroring {
  background: rgb(189, 0, 0);
}

.task--state.completing, .task--state.completed {
  background: rgb(33, 186, 79);
}

.task--title {
  font-size: 1rem;
  margin: 0 -0.2rem;
  padding: 0;
  display: flex;
  color: #444;
}

.task--title > * {
  margin: 0 0.2rem;
}

.task--yielding-to {
  margin: 0.4rem 0 0;
}

.task--title--expand {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 0.3rem;
  border: 1px solid #aaa;
  color: #444;
  background-color: transparent;
}

.task--title--expand.disabled {
  border-color: #eee;
}

.task--title--yield {
  font-weight: bold;
  color: rgb(168, 18, 255);
}

.task--title--name {
}

.task--title--icon {
  width: 1rem;
  margin-right: 0.4rem;
}

.task--title--icon img {
  width: 1.2rem;
  height: 1.2rem;
}

.task--title--type {
  font-weight: normal;
  color: #ccc;
}

.task--title--id {
  font-weight: normal;
  color: #aaa;
}

.task--section-header {
  font-weight: bold;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #aaa;
  margin: 0.4rem 0;
}

.task--list {
  list-style: none;
}

.task--list--element {
  margin: 0.4rem 0 0;
}

.task--label {
  display: inline-block;
  margin-right: 0.2rem;
  background: rgb(189, 201, 204);
  color: rgb(78, 83, 84);
  padding: 0.1rem 0.4rem 0.2rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

.task--label--title {
  color: rgb(134, 147, 149);
  padding: 0 0 0.1rem;
  display: inline-block;
  margin-right: 0.3rem;
}

.task--label--value {
  display: inline-block;
}

.task--details {
  border-left: 1px solid #ccc;
  padding-left: 0.8rem;
  margin-left: 0.6rem;
}

.task--details.open {
  display: block;
}

.task--details.closed {
  display: none;
}
