name: Publish Preview

on:
  pull_request:
    branches:
      - 'master'

jobs:
  publish-previews:
    name: Publish Preview Packages
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Publish PR Preview
      uses: thefrontside/actions/publish-pr-preview@v1.4
      if: ${{ github.head_ref != 'changeset/release-master' }}
      with:
        before_all: yarn prepack
        npm_publish: yarn publish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN:  ${{ secrets.NPM_AUTH_TOKEN }}
