name: Verify

on:
  push:
    branches: v[3-9]
  pull_request:
    branches: v[3-9]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: setup deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.46.x

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 20.x
          registry-url: https://registry.npmjs.com

      - name: format
        run: deno fmt --check

      - name: lint
        run: deno lint

      - name: test
        run: deno task test
      - name: test:node
        run: deno task test:node
